    

<div id="services-search">


    <div class="search-group">
        <div class="input-wrap">

 <div id="auto-complete">

    
            <input 
            required
            v-model="keyword"
             :value="input"
    @keydown.tab.prevent="complete()"
    @keyup="onInputChange"
    @keydown="onSelectData" 

            id="search-input" 
            class="form-control" 
            type="text"
            placeholder="Enter a county, town or postcode..."
            aria-label="Search">
  
    <div class="autocomplete-wrap" v-cloak
    v-show="filteredSearchBoxData.length">
    <ul>
    <li v-for="(searchWord, i) in filteredSearchBoxData"
    :key="searchWord.term_id"
    @click="complete(i)">
<!--        <a target="_blank" :href="'home-care/'+searchWord.slug" :class="{active: searchBoxIndex === i}">{{ searchWord[field] }}</a>-->
        <a :data-taxonomy="searchWord.taxonomy" target="_self" :href="townOrCitySlug(searchWord.slug,searchWord.taxonomy)" :class="{active: searchBoxIndex === i}">{{ searchWord[field] }} <small :class="searchWord.taxonomy">{{townOrCity(searchWord.taxonomy)}}</small></a>
    </li> 
    </ul>
    </div>
    </div>



        </div>

        <button id="search-button" v-class="{cloak : !appLoaded}" :disabled="loading" type = "button"  @click = "doSearch"><span class="icon-search">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
            </span></button>
    </div>
    <span class="warning" v-cloak v-if="warningMessage">{{warningMessage}}</span>




</div>



